In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("dataset.csv")

In [ ]:
data.head()

,subject,relation,object,score
0,1d798c5d-dedf-405f-9246-eed1cf38ed6e,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,NaN
1,1d304ff5-6f22-40e7-83c4-a40cc6b40af2,affiliated_with,483b277e-323a-4ddc-bba7-ec3675b73d25,NaN
2,dd4d756c-d58e-48ab-9e0a-4198f5b63f65,affiliated_with,137b6494-457a-4ed8-bc24-3b5c7b6ce367,NaN
3,ab05d4a7-c9f2-41cd-94fd-37630b7b159e,affiliated_with,56dbc969-3abc-487a-ac8d-2cfc5a024a54,NaN
4,e4a37fbb-637e-407b-8589-98a6b8b8603d,affiliated_with,811035d4-7799-408e-96fc-217abb7922b6,NaN

In [ ]:
data['score'] = data['score'].fillna(0)

In [ ]:
# Subject Duplicates
dups_subject = data.pivot_table(index=['subject'], aggfunc='size', )
print(dups_subject)

subject
000037c6-5652-4f87-8114-f401f350beee      2
00009ee5-7a05-4b1b-85d3-2a8b117d24fa      1
0000c093-37a6-4677-adda-723ac05b36e4    177
00015111-79f3-4338-a817-e71145aae9b1      2
00016ed1-27a0-4fff-9997-5e395fff9ecc      1
                                       ...
fffe9d43-37e4-4487-aa0d-aa93351d552c      3
fffed02a-b6ee-4edb-961d-3c9dc861a5be      1
ffff136d-7839-45ab-a5f9-7f252e9e82a9     12
ffff2cab-1dc0-45ba-a3db-301226529ba7      1
ffffe743-3f6f-457f-8512-85415bc25446      2
Length: 196236, dtype: int64

In [ ]:
subject_result_dataframe = pd.DataFrame(dups_subject)
subject_result_dataframe = subject_result_dataframe.reset_index()
subject_result_dataframe.columns = ['subject', 'subject_count']
subject_result_dataframe
data = pd.merge(data, subject_result_dataframe, on='subject')
data

,subject,relation,object,score,subject_count
0,1d798c5d-dedf-405f-9246-eed1cf38ed6e,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.0000,1
1,1d304ff5-6f22-40e7-83c4-a40cc6b40af2,affiliated_with,483b277e-323a-4ddc-bba7-ec3675b73d25,0.0000,2
2,1d304ff5-6f22-40e7-83c4-a40cc6b40af2,affiliated_with,cca64f41-0df6-4862-88fc-18e5df3381e6,0.0000,2
3,dd4d756c-d58e-48ab-9e0a-4198f5b63f65,affiliated_with,137b6494-457a-4ed8-bc24-3b5c7b6ce367,0.0000,1
4,ab05d4a7-c9f2-41cd-94fd-37630b7b159e,affiliated_with,56dbc969-3abc-487a-ac8d-2cfc5a024a54,0.0000,1
...,...,...,...,...,...
2771520,8e2937c2-516b-4f4a-947a-6ba9aea89b1c,associated_topic,ddc3abdc-82ad-4c4b-b87c-07f54d8d5dc9,0.7491,3
2771521,8e2937c2-516b-4f4a-947a-6ba9aea89b1c,associated_topic,d6d7ce24-a5a4-402e-846b-1cd85943933b,0.6792,3
2771522,05414ce8-4dd2-483e-9719-2e1cb25ca6f7,associated_topic,ddc3abdc-82ad-4c4b-b87c-07f54d8d5dc9,1.0000,2
2771523,05414ce8-4dd2-483e-9719-2e1cb25ca6f7,associated_topic,009368ed-d4d2-4b87-908d-42529c39dbf3,0.7549,2
2771524,402c0de7-d80a-41db-a0a0-6f7cd0958966,associated_topic,8cd5d505-ce08-4895-b3a6-e3f00530b9cd,0.9971,1

In [ ]:
# Object duplicates
dups_object = data.pivot_table(index=['object'], aggfunc='size')
print (dups_object)

object
0000232e-7b2d-4d79-8267-0536fc5bd144    1
00002f53-612c-4234-9650-d3c55a49264b    7
000031f6-2a64-4fbd-bf0e-22d6243f83b8    3
000037c6-5652-4f87-8114-f401f350beee    2
00005f1a-6254-457c-bbba-9460a064942a    1
                                       ..
ffff2cab-1dc0-45ba-a3db-301226529ba7    2
ffff705e-51a3-4aff-9bff-c94732e1e4bd    1
ffffaba8-25a3-4433-8ca7-3982331f1d06    2
ffffb4c3-4441-4127-a41c-1fd55d9447c5    1
ffffe743-3f6f-457f-8512-85415bc25446    7
Length: 375890, dtype: int64

In [ ]:
object_result_dataframe = pd.DataFrame(dups_object)
object_result_dataframe = object_result_dataframe.reset_index()
object_result_dataframe.columns = ['object', 'object_count']
object_result_dataframe
data = pd.merge(data, object_result_dataframe, on='object')
data

,subject,relation,object,score,subject_count,object_count
0,1d798c5d-dedf-405f-9246-eed1cf38ed6e,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.0,1,133
1,8b55199c-1d96-4bab-8b9a-9d52e906d57e,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.0,2,133
2,6e1d461d-23dc-4f74-a24f-fb5dad47c072,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.0,2,133
3,ad6fc7fb-3fde-4dd9-bbf7-62cf396d5f34,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.0,1,133
4,e1f7ad60-0ee6-43be-a528-7e355ff6506f,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.0,1,133
...,...,...,...,...,...,...
2771520,95013ceb-14de-47a2-8b9a-089a1680416e,cites,95013ceb-14de-47a2-8b9a-089a1680416e,0.0,3,1
2771521,54206a5b-3267-4c5a-9aca-a06810d4d3b9,cites,dbf5f622-e8d5-456f-bce4-8111862dd592,0.0,3,1
2771522,1c2d0dfb-bc0e-4342-bfca-2e8eaf9c569a,cites,757a9f3f-e993-449e-94eb-c31128d18a61,0.0,3,1
2771523,3993ffb5-df74-4af8-b1be-8f8786be2d6e,cites,7933c537-bd43-49ec-8154-f0a4f2bb2efb,0.0,3,1
2771524,1ece2cc7-6322-4579-b8d3-779c4b90e4d9,cites,e4d7a72a-df8c-4293-b272-50f222b85acc,0.0,2,1

In [ ]:
data[(data.subject_count >= 5) & (data.object_count >= 5)]

,subject,relation,object,score,subject_count,object_count
6,8273cee2-f5e6-4884-94d1-5d6493bba13d,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.000000,18,133
8,63f3ecc7-4ad3-4af5-ae7f-ffe8c28af086,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.000000,9,133
23,9a3313b3-df60-48f0-99b7-b95c5bd4a081,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.000000,5,133
31,50820b3a-1d4e-4784-a2b6-d92bcf4143e0,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.000000,12,133
39,4b549f10-facc-4128-9a38-e6d03e20b8ad,affiliated_with,53f7b823-5bae-4dc2-bd71-f647309b191f,0.000000,6,133
...,...,...,...,...,...,...
2770793,4c874b86-07eb-487f-8a3c-bb2b7d5ae796,associated_concept,44808642-a07d-40f6-ace6-57477ec419c2,0.684891,22,5
2770794,565664da-fdd0-446b-b71a-22ee44c8c410,associated_concept,44808642-a07d-40f6-ace6-57477ec419c2,0.604415,50,5
2770795,581d68a1-1f20-4d84-94fb-aaceed5dcba1,associated_concept,44808642-a07d-40f6-ace6-57477ec419c2,0.793534,31,5
2770796,61d93653-9a4c-4076-a0e1-4a18e28c02db,associated_concept,44808642-a07d-40f6-ace6-57477ec419c2,0.526511,39,5
2770797,f5f93dc6-9475-42d8-acf8-0fb31487618f,associated_concept,44808642-a07d-40f6-ace6-57477ec419c2,0.653907,14,5